.nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;

}

.nav-item {
    flex: 1;
}

.nav-item__icon {
    width: 24px;
    height: 24px;
    margin: 6px 0 0 0;
}

.nav-item__label {
    
}