.appbar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  background-color: map-get($default-theme, 'primary');

  @include breakpoint-handset() {
    padding: 0 map-get($gutter, 'mobile');
    height: map-get($appbar-height, 'landscape')
  }

  @include breakpoint-rotate() {
    padding: 0 map-get($gutter, 'mobile');
    height: map-get($appbar-height, 'portrait')
  }

  @include breakpoint-tablet() {
    padding: 0 map-get($gutter, 'desktop');
    height: map-get($appbar-height, 'tablet')
  }

  @include breakpoint-desktop() {
    padding: 0 map-get($gutter, 'desktop');
    height: map-get($appbar-height, 'tablet')
  }

  @include shadow-4dp();

  .title {
    position: absolute;

    @include breakpoint-handset() {
      left: 4.5rem;
    }

    @include breakpoint-rotate() {
      left: 4.5rem;
    }

    @include breakpoint-tablet() {
      left: 5rem;
    }

    @include breakpoint-desktop() {
      left: 5rem;
    }
  }
}
