// Flat Button

button {
    margin: .5rem;
    padding: 0 1rem;
    background: transparent;
    border: 0;
    min-width: 5.5rem;
    height: 2.25rem;
    @include typo-button();

    &.btn-raised {
        border-radius: 0.125rem;
    }

    &.btn-light {
        color: #000;
        background-color: #FFF;
    }

    &.btn-info {
        color: #FFF;
        background-color: $theme-info;
    }

    &.btn-danger {
        color: #FFF;
        background-color: $theme-danger;
    }

    &.btn-primary {
        color: #FFF;
        background-color: $theme-primary;
    }

    &.btn-warning {
        color: #FFF;
        background-color: $theme-warning;
    }

    &.btn-success {
        color: #FFF;
        background-color: $theme-success;
    }

    &.btn-dark {
        color: #FFF;
        background-color: #000;
    }
}
