.wallpaper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);

  &.visiable {
    display: inherit;
  }
  &.hidden {
    display: none;
  }
}

.dawer {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  background-color: white;
}
