@import './variables';

// Button styles
@mixin fiber--button {
  @include fiber--button-base();

  @include fiber--button-theme();
  @include fiber--button-outline-theme();
  @include fiber--button-ghost-theme();

  @include fiber--button-size();
}


// Button
// --------------------------------------------------
@mixin fiber--button-base {
  .btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    &:hover {
      color: #fff;
    }

    &:focus {
      color: #fff;
    }

    &.active,
    &:active {
      color: #fff;
    }

    &.disabled,
    &:disabled {
      color: #fff;
    }
  }
}


// Button default
// --------------------------------------------------
@mixin fiber--button-theme {
  @each $key,$value in $fiber--button-themes {
    .btn-#{$key} {
      color: #fff;
    }
  }
}


// Button outline
// --------------------------------------------------
@mixin fiber--button-outline-theme {
  @each $key,$value in $fiber--button-themes {
    .btn-outline-#{$key} {
      background-color: #fff;
    }
  }
}


// Button ghost
// --------------------------------------------------
@mixin fiber--button-ghost-theme {
  @each $key,$value in $fiber--button-themes {
    .btn-ghost-#{$key} {
      background-color: #fff;
    }
  }
}

// Button size
// --------------------------------------------------
@mixin fiber--button-size {
  .btn-lg {
    background-color: #fff;
  }

  .btn-sm {
    background-color: #fff;
  }

  .btn-block {
    display: block;
    width: 100%;
  }
}
