@import './variables';

/// Button styles
///
/// @access private
/// @group button
@mixin fiber--button {
  .btn {
    @include fiber--button-base();
  }

  @include fiber--button-theme();
  @include fiber--button-outline-theme();
  @include fiber--button-ghost-theme();
}

/// Button base styles
///
/// @access private
/// @group button
@mixin fiber--button-base {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  // min-width: $fiber--button-width;
  height: $fiber--button-height;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;

  &:disabled,
  &.#{$prefix}btn-disabled {
    cursor: not-allowed;
  }
}

/// Button variant styles
///
/// @access private
/// @group button
@mixin fiber--button-theme {
  @each $key,$value in $fiber--button-themes {
    .#{$prefix}btn-#{$key} {
      background-color: #{$value};
    }
  }
}

@mixin fiber--button-outline-theme {
  @each $key,$value in $fiber--button-themes {
    .#{$prefix}btn-outline-#{$key} {
      background: transparent;
      border: 1px solid #{$value};
    }
  }
}

@mixin fiber--button-ghost-theme {
  @each $key,$value in $fiber--button-themes {
    .#{$prefix}btn-outline-#{$key} {
      color: #{$value};
      background: transparent;
      border: none;
    }
  }
}
