$fiber--button-height: 48px !default;
$fiber--button-padding: calc(.875rem - 3px) 60px calc(.875rem - 3px) 12px !default;
$fiber--button-padding-sm: calc(.375rem - 3px) 60px calc(.375rem - 3px) 12px !default;
$fiber--button-ghost-padding: calc(.875rem - 3px) 12px !default;
$fiber--button-ghost-padding-sm: calc(.375rem - 3px) 1rem !default;

$fiber--button-themes: (
  primary: $fiber--theme-primary,
  secondary: $fiber--theme-secondary,
  error: $fiber--theme-error
) !default;
