$fiber--typography-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;

$fiber--typography-headline1: (
  font-size: 68px,
  line-height: 80px,
  font-weight: map-get($fiber--typography-weight, bold),
  letter-spacing: 0,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-headline2: (
  font-size: 42px,
  line-height: 56px,
  font-weight: map-get($fiber--typography-weight, bold),
  letter-spacing: 0,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-headline3: (
  font-size: 32px,
  line-height: 44px,
  font-weight: map-get($fiber--typography-weight, bold),
  letter-spacing: 0,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-headline4: (
  font-size: 28px,
  line-height: 40px,
  font-weight: map-get($fiber--typography-weight, bold),
  letter-spacing: 0,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-headline5: (
  font-size: 24px,
  line-height: 34px,
  font-weight: map-get($fiber--typography-weight, bold),
  letter-spacing: 0,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-headline6: (
  font-size: 20px,
  line-height: 30px,
  font-weight: map-get($fiber--typography-weight, bold),
  letter-spacing: .16px,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-subtitle1: (
  font-size: 1rem,
  line-height: 1.75rem,
  font-weight: map-get($fiber--typography-weight, regular),
  letter-spacing: normal,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-subtitle2: (
  font-size: 18px,
  line-height: 26px,
  font-weight: map-get($fiber--typography-weight, medium),
  letter-spacing: normal,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-body1: (
  font-size: 16px,
  line-height: 24px,
  font-weight: map-get($fiber--typography-weight, regular),
  letter-spacing: normal,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-body2: (
  font-size: 14px,
  line-height: 20px,
  font-weight: map-get($fiber--typography-weight, regular),
  letter-spacing: normal,
  text-decoration: inherit,
  text-transform: inherit
) !default;

$fiber--typography-caption: (
  font-size: 12px,
  line-height: 16px,
  font-weight: map-get($fiber--typography-weight, regular),
  letter-spacing: normal,
  text-decoration: inherit,
  text-transform: inherit
) !default;
