{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
    "stylelint-order",
    "stylelint-csstree-validator",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "color-no-invalid-hex": true,
    "color-hex-case": "lower",

    "font-family-name-quotes": "always-where-recommended",

    "function-calc-no-unspaced-operator": true,
    "function-url-quotes": "always",

    "number-leading-zero": "never",
    "number-no-trailing-zeros": true,

    "string-no-newline": true,
    "string-quotes": "single",

    "length-zero-no-unit": true,

    "unit-no-unknown": true,

    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": [
      "always",{
        "except": [
          "blockless-after-blockless",
          "first-nested"
        ],
        "ignore": ["after-comment"],
        "ignoreAtRules": "else"
      }
    ],
    "at-rule-blacklist": [
      "extend"
    ],

    "declaration-property-unit-whitelist": {
      "font-size": [
        "rem",
        "px"
      ]
    },

    "max-line-length": 120,

    "csstree/validator": true,

    "scss/at-rule-no-unknown": true
  }
}
