/// 关闭按钮大小
///
/// @type Number
$notification-close-icon-size: 16px !default;

$notification-min-height: 48px !default;

/// 左边框宽度
///
/// @type Number
$notification-border-left-width: 3px !default;


