/// 文字
$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

/// 文字粗细
$font-weights:(
  lighter: lighter,
  light: 300,
  normal: 400,
  bold: 700,
  bolder: bolder
) !default;
