$font-name: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

//
// 样式
// ----------------------------------------------------------------------

$theme-primary: #3F51B5 !default;
$theme-primary-dark: #303F9F !default;
$theme-accent: #FF4081 !default;
$theme-info: #4FADF9 !default;
$theme-danger: #EC3D40 !default;
$theme-warning: #FBAD3D !default;
$theme-success: #00C05E !default;

$default-theme: (
  primary: #3F51B5,
  primary-dark: #303F9F,
  accent: #FF4081,
  info: #4FADF9,
  danger: #EC3D40,
  warning: #FBAD3D,
  success: #00C05E
) !default;



//
// 布局
// ----------------------------------------------------------------------

// 断点
//
// 响应式布局，用于自适应不同的尺寸，用于媒体查询
// 手机肖像模式 (320px ~ 480px)
// 手机景观模式 & 平板肖像模式 (480px ~ 960px)
// 平板景观模式 (960px ~ 1280px)
// 桌面型电脑 （1280px ~ ? )

$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 960px,
  lg: 1280px,
) !default;

// Gutter

$gutter: (
    mobile: 16px,
    desktop: 24px
) !default;

// Columns

$columns: (
    sm: 4,
    md: 8,
    lg: 12
) !default;



//
// 组件
// ----------------------------------------------------------------------

// 应用栏

$appbar-landscape-height: 3rem !default;
$appbar-portrait-height: 3.5rem !default;
$appbar-tablet-height: 4rem !default;
