
// 
// 样式
// ----------------------------------------------------------------------

$theme-primary: #3F51B5 !default;
$theme-primary-dark: #303F9F !default;
$theme-accent: #FF4081 !default;
$theme-info: #4FADF9 !default;
$theme-danger: #EC3D40 !default;
$theme-warning: #FBAD3D !default;
$theme-success: #00C05E !default;



// 
// 布局
// ----------------------------------------------------------------------

// 断点
//
// 响应式布局，用于自适应不同的尺寸，用于媒体查询

$breakpoint: (
    xs: 0,
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px
) !default;

// Gutter

$gutter: (
    mobile: 16px,
    desktop: 24px
) !default;

// Columns

$columns: (
    sm: 4,
    md: 8,
    lg: 12
) !default;



// 
// 组件
// ----------------------------------------------------------------------

// 应用栏

$appbar-mobile-height:48px !default;
$appbar-desktop-height:64px !default;

// 按钮
$btn-height: 36px;
$btn-border-radius: 2px;