
$font-name: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

// 默认主题颜色
$default-theme: (
  primary: #3F51B5,
  primary-dark: #303F9F,
  accent: #FF4081,
  info: #4FADF9,
  danger: #EC3D40,
  warning: #FBAD3D,
  success: #00C05E
) !default;

// 断点
//
// 响应式布局，用于自适应不同的尺寸，用于媒体查询
// 手机肖像模式 (320px ~ 480px)
// 手机景观模式 & 平板肖像模式 (480px ~ 960px)
// 平板景观模式 (960px ~ 1280px)
// 桌面型电脑 （1280px ~ ? )
$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 960px,
  lg: 1280px,
) !default;

// SHADOWS
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

// Gutter
$gutter: (
  mobile: 1rem,
  desktop: 1.5rem
) !default;


// 标题栏
$appbar-height:(
  landscape: 3rem,
  portrait: 3.5rem,
  tablet: 4rem
) !default;
