$pred-10:     #fff1f1 !default;
$red-20:      #ffd7d9 !default;
$red-30:      #ffb3b8 !default;
$red-40:      #ff8389 !default;
$red-50:      #fa4d56 !default;
$red-60:      #da1e28 !default;
$red-70:      #a2191f !default;
$red-80:      #750e13 !default;
$red-90:      #520408 !default;
$red-100:     #2d0709 !default;

$blue-10:     #edf5ff !default;
$blue-20:     #d0e2ff !default;
$blue-30:     #a6c8ff !default;
$blue-40:     #78a9ff !default;
$blue-50:     #4589ff !default;
$blue-60:     #0f62fe !default;
$blue-70:     #0043CE !default;
$blue-80:     #002D9C !default;
$blue-90:     #001D6C !default;
$blue-100:    #001141 !default;

$magenta-10:  #fff0f7 !default;
$magenta-20:  #ffd6e8 !default;
$magenta-30:  #ffafd2 !default;
$magenta-40:  #ff7eb6 !default;
$magenta-50:  #ee5396 !default;
$magenta-60:  #d12771 !default;
$magenta-70:  #9f1853 !default;
$magenta-80:  #740937 !default;
$magenta-90:  #510224 !default;
$magenta-100: #2a0a18 !default;

$purple-10:   #f6f2ff !default;
$purple-20:   #e8daff !default;
$purple-30:   #d4bbff !default;
$purple-40:   #be95ff !default;
$purple-50:   #a56eff !default;
$purple-60:   #8a3ffc !default;
$purple-70:   #6929c4 !default;
$purple-80:   #491d8b !default;
$purple-90:   #31135e !default;
$purple-100:  #1c0f30 !default;

$cyan-10:     #e5f6ff !default;
$cyan-20:     #bae6ff !default;
$cyan-30:     #82cfff !default;
$cyan-40:     #33b1ff !default;
$cyan-50:     #1192e8 !default;
$cyan-60:     #0072c3 !default;
$cyan-70:     #00539a !default;
$cyan-80:     #003a6d !default;
$cyan-90:     #012749 !default;
$cyan-100:    #061727 !default;

$teal-10:     #d9fbfb !default;
$teal-20:     #9ef0f0 !default;
$teal-30:     #3ddbd9 !default;
$teal-40:     #08bdba !default;
$teal-50:     #009d9a !default;
$teal-60:     #007d79 !default;
$teal-70:     #005d5d !default;
$teal-80:     #004144 !default;
$teal-90:     #022b30 !default;
$teal-100:    #081a1c !default;

$green-10:    #defbe6 !default;
$green-20:    #a7f0ba !default;
$green-30:    #6fdc8c !default;
$green-40:    #42be65 !default;
$green-50:    #24a148 !default;
$green-60:    #198038 !default;
$green-70:    #0e6027 !default;
$green-80:    #044317 !default;
$green-90:    #022d0d !default;
$green-100:   #071908 !default;

$gray-10:     #f4f4f4 !default;
$gray-20:     #e0e0e0 !default;
$gray-30:     #c6c6c6 !default;
$gray-40:     #a8a8a8 !default;
$gray-50:     #8d8d8d !default;
$gray-60:     #6f6f6f !default;
$gray-70:     #525252 !default;
$gray-80:     #393939 !default;
$gray-90:     #262626 !default;
$gray-100:    #161616 !default;

$yellow-10:   #fffee8 !default;
$yellow-20:   #fffabf !default;
$yellow-30:   #fff396 !default;
$yellow-40:   #ffe96e !default;
$yellow-50:   #ffdd45 !default;
$yellow-60:   #f1c21b !default;
$yellow-70:   #cc9c0c !default;
$yellow-80:   #a67702 !default;
$yellow-90:   #805700 !default;
$yellow-100:  #593a00 !default;
