@use './palette' as palette;

$primary:   palette.$blue-60 !default;
$secondary: palette.$gray-80 !default;
$success:   palette.$green-50 !default;
$info:      palette.$blue-70 !default;
$warning:   palette.$yellow-60 !default;
$danger:    palette.$red-60 !default;
$light:     #ecf0f1 !default;
$dark:      #34495e !default;

////
/// 主题颜色
///
/// @group Themes
////
$theme-colors: (
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark
) !default;

/// 最小对比度值
///
/// @see https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5 !default;
