$grid-gutter: convert-rem(32px);

$breakpoints: (
  sm: (
    columns: 4,
    margin: convert-rem(16px),
    width: convert-rem(600px)
  ),
  md: (
    columns: 8,
    margin: convert-rem(16px),
    width: convert-rem(840px)
  ),
  lg: (
    columns: 12,
    margin: convert-rem(24px)
  )
) !default;

/// 间距
///
/// @type Map
/// @access public
/// @group layout
$spacers:(
  1: convert-rem(2px),
  2: convert-rem(4px),
  3: convert-rem(8px),
  4: convert-rem(12px),
  5: convert-rem(16px),
  6: convert-rem(24px),
  7: convert-rem(32px),
  8: convert-rem(40px),
  9: convert-rem(48px)
) !default;

$layout-scale: (
  1: convert-rem(16px),
  2: convert-rem(24px),
  3: convert-rem(32px),
  4: convert-rem(48px),
  5: convert-rem(64px),
  6: convert-rem(96px),
  7: convert-rem(160px)
) !default;
