/// 调色板
///
/// @access public
/// @group themes
@mixin color-palette {
  $color-red-01: #fff0f1 !default !global;
  $color-red-02: #fcd0d3 !default !global;
  $color-red-03: #ffa4a9 !default !global;
  $color-red-04: #ff767c !default !global;
  $color-red-05: #fb4b53 !default !global;
  $color-red-06: #da1e28 !default !global;
  $color-red-07: #a51920 !default !global;
  $color-red-08: #750e13 !default !global;
  $color-red-09: #570408 !default !global;
  $color-red-10: #2c080a !default !global;

  $color-blue-01: #edf4ff !default !global;
  $color-blue-02: #c9deff !default !global;
  $color-blue-03: #97c1ff !default !global;
  $color-blue-04: #6ea6ff !default !global;
  $color-blue-05: #408bfc !default !global;
  $color-blue-06: #0062ff !default !global;
  $color-blue-07: #054ada !default !global;
  $color-blue-08: #0530ad !default !global;
  $color-blue-09: #061f80 !default !global;
  $color-blue-10: #051243 !default !global;

  $color-cool-gray-01: #f2f4f8 !default !global;
  $color-cool-gray-02: #d5d9e0 !default !global;
  $color-cool-gray-03: #b9bfc7 !default !global;
  $color-cool-gray-04: #9fa5ad !default !global;
  $color-cool-gray-05: #868d95 !default !global;
  $color-cool-gray-06: #697077 !default !global;
  $color-cool-gray-07: #50565b !default !global;
  $color-cool-gray-08: #373d42 !default !global;
  $color-cool-gray-09: #242a2e !default !global;
  $color-cool-gray-10: #13171a !default !global;

  $color-cyan-01: #e3f6ff !default !global;
  $color-cyan-02: #b3e6ff !default !global;
  $color-cyan-03: #6ccaff !default !global;
  $color-cyan-04: #30b0ff !default !global;
  $color-cyan-05: #1191e6 !default !global;
  $color-cyan-06: #0072c3 !default !global;
  $color-cyan-07: #0058a1 !default !global;
  $color-cyan-08: #003d73 !default !global;
  $color-cyan-09: #002b50 !default !global;
  $color-cyan-10: #07192b !default !global;

  $color-gray-01: #f3f3f3 !default !global;
  $color-gray-02: #dcdcdc !default !global;
  $color-gray-03: #bebebe !default !global;
  $color-gray-04: #a4a4a4 !default !global;
  $color-gray-05: #8c8c8c !default !global;
  $color-gray-06: #6f6f6f !default !global;
  $color-gray-07: #565656 !default !global;
  $color-gray-08: #3d3d3d !default !global;
  $color-gray-09: #282828 !default !global;
  $color-gray-10: #171717 !default !global;

  $color-green-01: #dafbe4 !default !global;
  $color-green-02: #9deeb2 !default !global;
  $color-green-03: #56d679 !default !global;
  $color-green-04: #3dbb61 !default !global;
  $color-green-05: #24a148 !default !global;
  $color-green-06: #198038 !default !global;
  $color-green-07: #10642a !default !global;
  $color-green-08: #054719 !default !global;
  $color-green-09: #01330f !default !global;
  $color-green-10: #081b09 !default !global;

  $color-magenta-10: #fff0f6 !default !global;
  $color-magenta-02: #ffcfe1 !default !global;
  $color-magenta-03: #ffa0c2 !default !global;
  $color-magenta-04: #fa75a6 !default !global;
  $color-magenta-05: #ee538b !default !global;
  $color-magenta-06: #d12765 !default !global;
  $color-magenta-07: #a11950 !default !global;
  $color-magenta-08: #760a3a !default !global;
  $color-magenta-09: #57002b !default !global;
  $color-magenta-10: #2a0a16 !default !global;

  $color-purple-01: #f7f1ff !default !global;
  $color-purple-02: #e6d6ff !default !global;
  $color-purple-03: #d0b0ff !default !global;
  $color-purple-04: #bb8eff !default !global;
  $color-purple-05: #a66efa !default !global;
  $color-purple-06: #8a3ffc !default !global;
  $color-purple-07: #6e32c9 !default !global;
  $color-purple-08: #4f2196 !default !global;
  $color-purple-09: #38146b !default !global;
  $color-purple-10: #1e1033 !default !global;

  $color-teal-01: #dbfbfb !default !global;
  $color-teal-02: #92eeee !default !global;
  $color-teal-03: #02d5d2 !default !global;
  $color-teal-04: #00bab6 !default !global;
  $color-teal-05: #009c98 !default !global;
  $color-teal-06: #007d79 !default !global;
  $color-teal-07: #006161 !default !global;
  $color-teal-08: #004548 !default !global;
  $color-teal-09: #003137 !default !global;
  $color-teal-10: #081a1c !default !global;

  $color-warm-gray-01: #f7f3f1 !default !global;
  $color-warm-gray-02: #e0dbda !default !global;
  $color-warm-gray-03: #c1bcbb !default !global;
  $color-warm-gray-04: #a7a2a2 !default !global;
  $color-warm-gray-05: #8f8b8b !default !global;
  $color-warm-gray-06: #726e6e !default !global;
  $color-warm-gray-07: #595555 !default !global;
  $color-warm-gray-08: #403c3c !default !global;
  $color-warm-gray-09: #2b2828 !default !global;
  $color-warm-gray-10: #1a1717 !default !global;

  $color-white: #FFFFFF !default !global;
  $color-black: #000000 !default !global;
  $color-yellow-02: #fdd13a !default !global;
}

@include color-palette;
