// 主色
$theme-primary: $color-blue-06 !default;

// 辅助
$theme-secondary: $color-gray-08 !default;

// 成功
$theme-success: $color-green-05 !default;

// 错误
$theme-danger: $color-red-06 !default;

// 警告
$theme-warning: $color-yellow-02 !default;

// 浅色
$theme-light: $color-white !default;

// 暗色
$theme-dark: $color-black !default;

$theme-colors:(
  primary: $theme-primary,
  secondary: $theme-secondary,
  success: $theme-success,
  danger: $theme-danger,
  warning: $theme-danger,
  light: $theme-light,
  dark: $theme-dark
) !default;
