/// 主色
///
/// @type Color
/// @access public
/// @group themes
$theme-primary: $color-blue-06 !default;

/// 辅助
///
/// @type Color
/// @access public
/// @group themes
$theme-secondary: $color-gray-08 !default;

/// 成功
///
/// @type Color
/// @access public
/// @group themes
$theme-success: $color-green-05 !default;


/// 错误
///
/// @type Color
/// @access public
/// @group themes
$theme-danger: $color-red-06 !default;


/// 警告
///
/// @type Color
/// @access public
/// @group themes
$theme-warning: $color-yellow-02 !default;

/// 浅色
///
/// @type Color
/// @access public
/// @group themes
$theme-light: $color-white !default;

/// 暗色
///
/// @type Color
/// @access public
/// @group themes
$theme-dark: $color-black !default;

$theme-colors:(
  primary: $theme-primary,
  secondary: $theme-secondary,
  success: $theme-success,
  danger: $theme-danger,
  warning: $theme-danger,
  light: $theme-light,
  dark: $theme-dark
) !default;

