// Color system

$theme-primary: #007bff !default;
$theme-secondary: #6c757d !default;
$theme-success: #28a745 !default;
$theme-info: #17a2b8 !default;
$theme-warning: #ffc107 !default;
$theme-danger: #dc3545 !default;
$theme-light: #ffffff !default;
$theme-dark: #000000 !default;

$theme-colors: (
  "primary": $theme-primary,
  "secondary": $theme-secondary,
  "success": $theme-success,
  "info": $theme-info,
  "warning": $theme-warning,
  "danger": $theme-danger,
  "light": $theme-light,
  "dark": $theme-dark
)
