@import './functions';

$fiber--theme-primary: #0062ff !default;
$fiber--theme-on-primary: if(fiber--theme-tone($fiber--theme-primary) == 'dark', #fff, #000) !default;
$fiber--theme-secondary: #3d3d3d !default;
$fiber--theme-on-secondary: if(fiber--theme-tone($fiber--theme-secondary) == 'dark', #fff, #000) !default;
$fiber--theme-background: #fff !default;
$fiber--theme-surface: #f3f3f3 !default;
$fiber--theme-on-surface: if(fiber--theme-tone($fiber--theme-surface) == 'dark', #fff, #000) !default;
$fiber--theme-success: #24a148 !default;
$fiber--theme-error: #da1e28 !default;
$fiber--theme-warning: #fdd13a !default;
$fiber--theme-info: #054ada !default;

$fiber--theme-text-colors: (
  dark: (
    primary: rgba(black, .87),
    secondary: rgba(black, .54),
    hint: rgba(black, .38),
    disabled: rgba(black, .38),
    icon: rgba(black, .38)
  ),
  light: (
    primary: white,
    secondary: rgba(white, .7),
    hint: rgba(white, .5),
    disabled: rgba(white, .5),
    icon: rgba(white, .5)
  )
) !default;
