// 
// 字体
// ----------------------------------------------------------------------

@mixin typo-display4() {
    font-size: 7rem;
    font-weight: 300;
};

@mixin typo-display3() {

};

@mixin typo-display2() {
    
};

@mixin typo-display1() {
    
};

@mixin typo-headline() {
    
};

@mixin typo-title() {

};

@mixin typo-subheadline() {

};

@mixin typo-body2() {

};

@mixin typo-body1() {

};

@mixin typo-caption() {

};

@mixin typo-button() {
    font-size: 0.875rem;
    font-weight: 500;
};