// Display 4
@mixin typo-display-4($constrast:false) {
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;

  @if $constrast {
    opacity: 0.54;
  }
}

// Display 3
@mixin typo-display-3($constrast:false) {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;

  @if $constrast {
    opacity: 0.54;
  }
}

// Display 2
@mixin typo-display-2($constrast:false) {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;

  @if $constrast {
    opacity: 0.54;
  }
}

// Display 1
@mixin typo-display-1($constrast:false) {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;

  @if $constrast {
    opacity: 0.54;
  }
}

// Headline
@mixin typo-headline($constrast:false) {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;

  @if $constrast {
    opacity: 0.87;
  }
}

// Title
@mixin typo-title($constrast:false) {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;

  @if $constrast {
    opacity: 0.87;
  }
}

// Subheading
@mixin typo-subheading($constrast:false) {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;

  @if $constrast {
    opacity: 0.87;
  }
}

// Body 2
@mixin typo-body2($constrast:false) {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;

  @if $constrast {
    opacity: 0.87;
  }
}

// Body 1
@mixin typo-body2($constrast:false) {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;

  @if $constrast {
    opacity: 0.87;
  }
}

// Caption
@mixin typo-caption($constrast) {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;

  @if $constrast {
    opacity: 0.54;
  }
}

// Button
@mixin typo-button($constrast) {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;

  @if $constrast {
    opacity: 0.87;
  }
}
